/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.main-header {
    padding: 20px;
    background-color: #f7f7f7;
    color: #000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Mantiene la imagen y el texto alineados a la izquierda */
}

.header-image {
    width: 60px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    border-radius: 50%; /* Hace la imagen redonda */
}

.header-text {
    flex: 1; /* Esto asegura que el texto ocupe todo el espacio disponible a la derecha de la imagen */
}

.newspaper-title {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Georgia', serif;
    color: #000;
}

.tagline {
    font-size: 1.2rem;
    font-style: italic;
    margin-top: 10px;
    color: #666;
}

/* Footer */
.main-footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-color: #333;
    color: white;
}
